/*---------------------------------------FONDO DE LA PAG-----------------------------------*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #311253;
}
/*-----------------------------------------------------------------------------------------*/
/*---------------------------------------BODY-FORM-----------------------------------------------*/
#container {
  width: 100%;
  height: 100%;
  position: relative;
}

#network {
  width: 100vw;
  height: 100%;
  position: absolute;
  margin-left: -5%;

}

#login-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

#login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -3%;
}

#login-form button {
  padding: 10px 20px;
  background-color: #3b2058;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 25px;
}

#login-form button:hover {
  background-color: #193c88;
}

form{
height: 270px;
width: 300px;
background-color: rgba(255,255,255,0.13);
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
border-radius: 10px;
backdrop-filter: blur(10px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
padding: 45px 35px;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  outline: 0;
  font-size: 17px;
  color: #ffffff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #000000;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #6600ff, #bb8eff);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9148ff;
  font-weight: 700;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}
/*-----------------------------------------------------------------------------------------*/
/*------------------------------------------BOTON START-----------------------------------*/
.button-85 {
padding: 0.6em 2em;
border: none;
outline: none;
color: rgb(255, 255, 255);
background: #111;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 10px;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-85:before {
content: "";
background: linear-gradient(
  45deg,
  #ff0000,
  #ff7300,
  #fffb00,
  #48ff00,
  #00ffd5,
  #002bff,
  #7a00ff,
  #ff00c8,
  #ff0000
);
position: absolute;
top: -2px;
left: -2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
-webkit-filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing-button-85 20s linear infinite;
transition: opacity 0.3s ease-in-out;
border-radius: 10px;
}

@keyframes glowing-button-85 {
0% {
  background-position: 0 0;
}
50% {
  background-position: 400% 0;
}
100% {
  background-position: 0 0;
}
}

.button-85:after {
z-index: -1;
content: "";
position: absolute;
width: 100%;
height: 100%;
background: #222;
left: 0;
top: 0;
border-radius: 10px;
}
/*-----------------------------------------------------------------------------------------*/
/*--------------------------------------BOTON LOGO---------------------------------------*/
.luz {
  background-image: url('img/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.luz:before {
content: "";
background: linear-gradient(
  45deg,
  #ffffff,
  #000000,
  #ffffff,
  #000000,
  #ffffff,
  #000000,
  #ffffff,
  #000000
);
position: absolute;
top: -2px;
left: -2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
-webkit-filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing-button-85 30s linear infinite;
transition: opacity 0.3s ease-in-out;
border-radius: 10px;
}

@keyframes glowing-button-85 {
0% {
  background-position: 0 0;
}
50% {
  background-position: 400% 0;
}
100% {
  background-position: 0 0;
}
}

.luz:after {
z-index: -1;
content: "";
position: absolute;
width: 100%;
height: 100%;
background-image: url('img/logo.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
left: 0;
top: 0;
border-radius: 10px;
}

header{
  margin-bottom:41.2%;
  margin-left: 1.45%;
  
  }
/*-----------------------------------------------------------------------------------------*/